<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUilJ0Kf9q87LSgo2oc-J-nJrKiJjVdyU</string>
	<key>GCM_SENDER_ID</key>
	<string>289126726891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Assignment.TripzyApp</string>
	<key>PROJECT_ID</key>
	<string>tripzy-9986e</string>
	<key>STORAGE_BUCKET</key>
	<string>tripzy-9986e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289126726891:ios:4b3b35f0f38fb7df5192ae</string>
	<key>DATABASE_URL</key>
	<string>https://tripzy-9986e-default-rtdb.firebaseio.com</string>
</dict>
</plist>